*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size:22px;
}



body {
  margin: 0;
  font-family:'Roboto', 'Oxygen','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height:100vh;
  width:100%;
  margin:auto;
max-width: 500px;
border:solid 1px black}

  header{
    width:100%;
    padding:0.025rem;
    background-image:radial-gradient(rgb(22, 22, 20), rgb(27, 209, 127));
    color:aliceblue;
    display:flex;
    justify-content: space-between ;
    align-items: center;
  }

 
  footer{
    padding:0.25rem;
    width:100%;
    display:grid;
    color:aliceblue;
    place-content: center;
    background-image:radial-gradient(rgb(22, 22, 20), rgb(27, 209, 127));
    
    

  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addform{
  width:100%;
  display:flex;
  justify-content: flex-start;
  margin : 0.5rem 0 0 ;
  padding:0.5rem 0.25rem;
  border-bottom: 1px solid #eee;

}

.addForm label{
  position:absolute;
  left:-99999px;
}

.addForm input[type='text']{
  flex-grow: 1;
  max-width: calc(100% -50%);
  min-height: 48px;
  font-size: 1rem;
  padding:0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline:none
;

}

button{
  height:48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding:0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color:mediumblue;
  cursor:pointer;}

button:focus,
button:hover{
  color:white;
  background-color:limegreen;
  outline:none
}

.searchForm{
  width:100%;
  display: flex;
  justify-content: flex-start;
  margin:0.25rem 0 0;
  padding : 0 0.5rem 0.25rem;
  border-radius: 1px solid #eee;
}

.searchForm Label{
  position: absolute;
  left:-99999px;
}

.searchForm 